.Profile-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.attributes {
  text-align: center
}

#downvote {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}